/*
 * (c) RtBrick, Inc - All rights reserved, 2015 - 2017
 */
 
/*--------------------------------------------------------*/
/* Primer accessibility enhancements */
/*--------------------------------------------------------*/

body {
	min-width:1200px;
}

/* Override Primer default width.*/
.container {
    width: 100% !important;
    margin-right: auto;
    margin-left: auto;
}

/* Declare menu items as list items.*/
nav li {
	list-style-type: none;
	display: block;
	border-bottom:1px solid #eee;
	margin: 0;
	padding:0;
}

nav li:last-child {
	list-style-type: none;
	display: block;
	border-bottom:none;
	margin: 0;
	padding:0;
}

.chevron::after {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: ' ';
    display: inline-block;
    height: 4px;
    left: 0px;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 4px;
}

.chevron.bottom:after {
    top: 0;
    transform: rotate(135deg);
}

.popup_menu:hover nav{
    display: block;
    position: absolute;
    top: 28px;
    left: 4px;
    z-index: 100;
    min-width: 14em;
    padding: 0px;
}

.entity {
	border-left: 2px solid #333;
}

.entity h4{
    font-weight: normal;
}

.popup_menu {
    border-left: 2px solid #333;
    cursor: pointer;
    display: inline-block;
    position: relative; 
    padding: 5px 10px;
}

.popup_menu:first-of-type {
    border: none;
    margin-left: 5px;
    display: inline-block;
}

.popup_menu nav{
    display: none;
}
 
.popup_menu h4 a{
	color: black;
	background: none;
}

.form-group.flattened div.label {
	line-height: 32px
}

.form-group div.label h4 {
	margin: 4px 0 0
}

.form-group div.label h4.is-error {
	color: #bd2c00
}

.form-group div.label h4.is-success {
	color: #55a532
}

.form-group div.label h4+.note {
	margin-top: 0
}

.form-group.required div.input label::after {
	padding-left: 5px;
	color: #bd2c00;
	content: "*"
}

.hfields .form-group div.input label {
	display: inline-block;
	margin: 5px 0 0;
	color: #666
}

.hfields .form-group div.input img {
	position: relative;
	top: -2px
}

.form-group div.input {
	margin: 0 0 6px
} 

.form-group textarea.form-control {
	width: 100%; 
	max-width: 800px;
}

header nav label {
	font-weight: normal;
	font-size: larger;
	padding: 2px 5px;	
}

#go {
	font-size:larger;
	font-size: larger;
	margin-top: -3px;
	padding: 0px;
	padding-left: 5px;
	background-color:#444;
	border-color:#333;
	color:#444;
}

#go:focus {
	font-size:larger;
	font-size: larger;
	margin-top: -3px;
	padding: 0px;
	padding-left: 5px;
	background-color:#fafafa;
}

.instructions {
 	position: absolute;
 	top: 30px;
 	left: 0px;
 	color: black;
 	background: white;
 	width: 30em;
 	padding: 7px 5px;
 	font-weight: normal; 	
 	display:none;
 	border: 1px solid #d8d8d8;
 	border-radius: 3px;
}
 
.instructions pre:first-child{
	padding-top:0px;
}
 
.instructions pre {
	padding-bottom:2px;
	padding-top: 7px;
	margin:0px;
	color: #333
}

.instructions .key {
	text-transform: uppercase;
	border-radius: 3px;
	border: 1px solid #a8a8a8;	
	width: 20px;
	display: inline-block;
	text-align: center;
}

/*--------------------------------------------------------*/
/* Common UI styles */
/*--------------------------------------------------------*/

div.flash {
	left: 15px
}

ui-view,
ui-view-menu {
    display: block;
}

ui-view{
	max-width: 1400px;
	margin: auto;
}

ui-view-menu {
	margin-left: 15px;
    display: block;
}

ui-module-menu{
	margin-left: 15px;
}

td .copy_on_hover {
	position: relative;
	display: block;
	width: 100%;
}

td .copy_on_hover:hover button{
	position: absolute;
	display: inline-block;
	top: -4px;
	margin-left: 8px;
}

td .copy_on_hover button {
	display: none;	
}

.error-page h1 {
	background-image: url('/ui/images/logo.png');
	background-position: center;
	background-repeat: no-repeat;
	font-weight: 300;
	padding-top: 240px;
	text-align: center;
}

nav.main{
	background-color: #333;
	font-weight: bold;
	color:white;
	margin-left: 200px;
	vertical-align:center;
	height: 40px;
}

nav.main a.btn {
	color: #333;
	margin-right: 10px; 
	margin-top:9px;
	background-color: #FFF !important;
	border: 1px solid #333;
	background-image:none;
}

nav.main a.btn:hover {
    color: #FFF;
    margin-right: 10px; 
    margin-top:9px;
    background-color: #333 !important;
    background-image:none;
    border: 2px solid #FFF;
}

nav.main a.main-menu-item {
	display: inline-block;
	text-decoration:none;
	position: relative;
    padding: 2px 5px;
    font-weight: normal;
    font-size: 12px;
	color: white;
	border: none;
	font-size: larger;
	margin-top: 10px; 
	margin-left: 10px; 
	margin-bottom: 2px;
	margin-right: 10px;
}

nav.main a.main-menu-item:hover, 
nav.main a.main-menu-item.selected{
    display: inline-block;
    font-weight: normal;
    border: none;
    text-shadow: none;
    font-size: larger;
    background-color: #333;
    border-bottom: 3px solid white;
    border-radius:none;
}

/* Header section */
.header {
	background-image: url('/ui/images/header/logo.png'); /* Header uses intentionally a different logo!*/
	background-position: 30px;
	background-repeat: no-repeat;
	background-size:100px;
	background-color: #333;
    position: fixed;
    width: 100%;
    height: 45px;
    z-index: 100;
}

ui-module {
	padding-top: 45px;
    display: block;
}

/* Module section */
ui-module.split_layout .row {
	position: relative;
}

ui-module.split_layout div.pane.navigation {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 15px;
	margin-right: 15px;
	width: 250px;
	margin-top: 0px;
    margin-bottom: 0px;
    z-index: 1;
}

ui-module.split_layout div.pane.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: 265px;
	margin-right: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}

ui-module div.pane.content ui-view {
    max-width: 1400px;
    margin: auto;
    padding: 0px 15px;
}

ui-actions {
    margin-bottom: 15px;
    display: block
}


div.view {}


/** A hidden element that is displayed dynamically by the controller.*/
.hidden{
	visibility:hidden;
}

/** Containers for columns to display elements from left to right.*/
.row {
	padding: 10px 0px;
	clear:both;
}

#page-container .row {
	margin: 0px -10px;
}

/* Messagebox for popup messages such as a date-picker, for example.*/ 
.messagebox-container{
	position: relative;
}

.messagebox{
	position: absolute;
	left: 20px;
	top: 20px;
}

/** Fieldsets to group input elements.*/
fieldset{
	margin-top: 5px; /* Adjust top margin.*/
}

/** General table styles.*/
table {
	width: 100%;
}
/** Hide caption, it is intended for screen readers only.*/
caption {
	display:none;
}

/** List styles.*/
table.list thead th {
	border-collapse: collapse;
	border-left: 1px solid #EFEFEF;
	padding: 0.25em;
}

table.list thead th:FIRST-CHILD {
	border-collapse: collapse;
	border-left: 1px solid white;
	padding: 0.25em;
}

table.list th.check, 
table.list td.check,
table.details th.check, 
table.details td.check {
	width: 2%
}

table.list th.tiny, 
table.list td.tiny,
table.details td.tiny,
table.details td.tiny {
	width: 8%
}

table.list th.extra-small, 
table.list td.extra-small,
table.details th.extra-small, 
table.details td.extra-small {
	width: 12.5%
}


table.list th.small,
table.list td.small,
table.details th.small, 
table.details td.small{
	width: 25%;	
}

table.list th.medium,
table.list td.medium,
table.details th.medium, 
table.details td.medium {
	width: 50%;
}

table.list th.large,
table.list td.large {
	width: 75%;
}

table.list th.text,
table.list td.text {
	text-align: left;
	vertical-align: top;
}

table.list tr.middle th.text,
table.list tr.middle td.text {
    text-align: left;
    vertical-align: middle;
}

table.list th.key,
table.list td.key {
	text-align: right;
	padding-right: 10px;
}

table.list th.value,
table.list td.value {
	text-align: right;
	padding-left: 10px;
}

table.list th.metric,
table.list td.metric {
	text-align: center;
}

table.list>tbody>tr, table.list>thead>tr {
	border-bottom: 1px solid #EFEFEF;
}

table.list>tbody>tr:hover{
	border-bottom: 1px solid #EFEFEF;
	background-color: #EFEFEF;
}

table.list>tbody>tr>td {
	text-align:center;
	padding: 5px
}

table.list tbody td>button{
	margin:0;
}

table.list tfoot tr td{
	padding-top: 10px;
}

table.list button[disabled]{
	display:none;
}

th.top,
td.top {
	vertical-align: top;
}

/* List item details style (for master detail views, where master is a list view and detail view is a second view).*/
table.details thead{
	display:none;
}

table.details  td{
	padding: 1em;
	border: 1px solid #d8d8d8;
	table-layout:fixed;
	max-width: 600px; /* CSS hack to make overflow for code blocks work. Safari and Chrome ignore the actual value and use available space*/
}
table.details {
	margin-bottom: 12px;
}

table.details th{
	text-align: left;
	font-weight:normal;
	padding: 1em;
	border: 1px solid #d8d8d8;
	color: #767676;
	width: 15%;
}
table.details td ol {
	list-style-type: none;
}

table.details td ul {
	list-style-type: square;
	margin-left: 15px;
}

table.details td span{
	max-width: 10em; /* Limit with of state elements*/
	text-align:center;
}

/* Tags and tag editor styles.*/
ul.tags,
ol.tags {
	display:inline-block;
	vertical-align: middle;
}

ul.tags li.tag,
ol.tags li.tag {
	display:inline;
	background-color: #2d5c9b;
	border-radius: 2px;
	list-style-type: none;
	padding: 2px 5px;
	margin: 0px 5px;
	color: white;
	font-weight: bold;
}


.tag-editor div.tags div {
	display: inline-block;
	background-color: #2d5c9b;
	border-radius: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-right: 10px;
	vertical-align:middle;
	cursor: default;
}

.tag-editor div.tags div span {
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	color: white;
}

.tag-editor div.tags div input.form-control{
	background-color: #fafafa;
}

.tag-editor div.tags div input.form-control:focus{
	background-color: #fff;
}

.tag-editor div.tags div button {
	vertical-align: middle;
	display: inline-block;
	height: 34px;
	width: 34px;
	border-radius: 0px 3px 3px 0px;
	margin-left: 10px;
}

.tag-editor div.tags div:last-child {
	padding-left: 0px;
}

.tag-editor div.tags div:last-child button {
	margin-left: -2px;
}

/** Image and package details*/
div.image,
div.package{
	margin: 20px 0px;
}

div.package span:nth-child(2n-1){
	font-weight:normal;
	color: #767676;
}

div.package span:nth-child(2n){
	font-weight:bold;
	padding-left: 1.5em;
	font-size: 1.2em;
}

div.package ol{
	margin:0;
	padding:0;
}

div.package li{
	list-style-type: none;
	display:block;
	float:left;
	padding: 1em;
	border: 1px solid #d8d8d8;
	margin-left: -1px;
	margin-bottom: -1px;
}

div.image .details,
div.package .details{
	clear:both;
}



/* Administrative, operational, task and event states */
.UP,
.OPERATIONAL,
.CONFIRM,
.FINISHED,
.PROCESSED,
.COMPLETED,
.RELEASE,
.STARTED,
.PASSED,
.VALID,
.config.ACTIVE,
.admin.ACTIVE,
.isis.ACTIVE,
.bgp.ESTABLISHED,
.ospf.FULL,
.ENABLED,
.administrative .ACTIVE,
.platform .ACTIVE {
	background-color:#308720; /*#8bc34a;*/
	color: white;
	font-weight: bold;
	padding: 2px 5px;
	border-radius: 2px;
	font-size: 8pt;
	display:block;
	text-align: center;
    width: 8em;
}

.subscriber.ESTABLISHED {
    background-color:#308720; /*#8bc34a;*/
    color: white;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 8pt;
    text-align: center;
    width: 8em;
}

.subscriber.REJECTED,
.subscriber.INAVLID {
    background-color:#e82000;
    color: white;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 8pt;
    text-align: center;
    width: 8em;
    display:inline;
}



.subscriber {
    background-color:#767676; 
    color: white;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 8pt;
    text-align: center;
    width: 8em;
    display:inline !important;
    
}


.DETACHED,
.TIMEOUT {
	background-color:#62248a;
	color: white;
	font-weight: bold;
	padding: 2px 5px;
	border-radius: 2px;
	font-size: 8pt;
	display:block;
	text-align: center;
    width: 8em;
}

.FAILED,
.INVALID,
.DENIED,
.REJECTED,
.REVOKED,
.bgp.ACTIVE,
.bgp.CONNECT,
.DISABLED,
.DOWN {
	background-color:#e82000; /*#ff4107;*/
	color: white;
	font-weight: bold;
	padding: 2px 5px;
	border-radius: 2px;
	font-size: 8pt;
	display:block;
	text-align:center;
    width: 8em;
}

.ERROR {
    background-color:#e82000; /*#ff4107;*/
    color: white;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 8pt;
    display:block;
    text-align:center;
}

.RETIRED,
.UNKNOWN,
.DEBUG{
    background-color: #767676;
    color: white;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 8pt;
    display:block;
    text-align:center;
}


.CACHED,
.SUPERSEDED,
.READY,
.WAITING,
.INIT{
	background-color: #767676;
	color: white;
	font-weight: bold;
	padding: 2px 5px;
	border-radius: 2px;
	font-size: 8pt;
	display:block;
	text-align:center;
	width: 8em;
}

.ROLLEDBACK{
	background-color: #6e5494;
	color: white;
	font-weight: bold;
	padding: 2px 5px;
	border-radius: 2px;
	font-size: 8pt;
	display:block;
    width: 8em;
}

.CANCELLED,
.PULL,
.SKIPPED,
.IMPAIRED {
	background-color: #a76000;
	color: white;
	font-weight: bold;
	padding: 2px 5px;
	border-radius: 2px;
	font-size: 8pt;
	display:block;
	text-align: center;
    width: 8em;
}

.WARNING {
    background-color: #a76000;
    color: white;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 8pt;
    display:block;
    text-align: center;
}

span.NEW,
span.ACTIVE,
.NEW,
.CANDIDATE,
.IN_PROGRESS,
.ROLLBACK,
.MAINTENANCE,
.platform .CACHED,
.bgp.IDLE,
.ospf,
.UNKNOWN{
	background-color:#2d5c9b; /*#4078c0;*/
	color: white;
	font-weight: bold;
	padding: 2px 5px;
	border-radius: 2px;
	font-size: 8pt;
	display:block;
	text-align: center;
    width: 8em;
}

.INFORMATION{
    background-color:#2d5c9b; /*#4078c0;*/
    color: white;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 8pt;
    display:block;
    text-align: center;
}

.INFORMATION.SUCCESS{
	background-color: #8bc34a;
}

.ERROR.CLOSED{
	background: linear-gradient(-45deg, #2d5c9b 50%, #e82000 50%);
}

.WARNING.CLOSED{
	background: linear-gradient(-45deg, #2d5c9b 50%, #a76000 50%);
}
.CONFIRM {
	background: linear-gradient(-45deg, #2d5c9b 50%, #308720 50%);
}
	
/* State in view headlines */	
h2 span,
h3 span,
h4 span{
	margin-left: 1em !important;
	display: inline-block !important;
	vertical-align: middle !important;
}

/* Format service type column */
span.type {
	color: #454545;
	font-weight: bold;
	font-size: 8pt;
	display: block;
}

/* Date picker widget*/
.calendar{
	min-width: 20em;
	border: 1px solid #7f7f7f;
	padding: 5px;
	background-color: white;
	z-index: 10;
	position: relative;	
}

.calendar .month span{
	width: 10%;
	display:inline-block;
	vertical-align: middle;
	text-align:center;
	cursor: pointer;
}

.calendar .month div{
	width: 80%;
	display:inline-block;
	font-size: 1.5em;
	vertical-align: middle;
}

.calendar .month div span{
	width: 100%;
	text-align:center;
	padding:0;
	margin:0;
}

.calendar .month div span:nth-child(2){
	font-size: 0.75em;
}

.calendar .days {
	background-color: #f7f7f7;
}

.calendar .days span{
	display:inline-block;
	width:14%;
	vertical-align: middle;
	font-weight:bold;
	text-align:center;
	padding: 5px 0px;
	cursor: pointer;
}

.calendar .page span{
	display:inline-block;
	width:14%;
	vertical-align: middle;
	text-align:center;
	cursor: pointer;
}

.calendar .page span:hover{
	background-color: #f7f7f7;
}

.calendar .time div{
	width:50%;
	display:inline-block;
}

.calendar .time div *{
	width:80%;
	margin:auto;
	display:block;
}

.calendar .selected {
	font-weight: bold;
	background-color: rgba(116, 189, 205, 0.5);
}

.calendar.disabled .control{
	visibility:hidden;
}
.calendar.disabled .days span,
.calendar.disabled .page span{ 
	cursor:text;
}

.calendar.disabled .selected {
	font-weight: bold;
	background-color: #B0B0B0 !important;
}

.calendar.disabled .page span:hover{
	background-color: white;
}

/** Progress bar widget*/
.progress>p{
	color: #333333;
	text-align: center;
}

.progressbar{
	background-color: #D8D8D8; 
	height: 5px;
}

.progress>.progressbar>.completed{
	float:left;
	display: inline;
	background-color: #308720;
	height: 5px;
	width: 0%;
	padding: 0px;
}

.progress>.progressbar>.active{
	float:left;
	display: inline;
	background-color: #2d5c9b;
	height: 5px;
	width: 0%;
	padding: 0px;
}

/** Highlighted code block*/
code.hljs {
	border: 1px solid #CCCCCC;
	overflow: auto;
}

/** Confirm dialog boxes */
.confirm {
	border: 1px solid #b33630;
	padding: 1em;
	display:block;
	width: 80%;
	margin:auto;
}

.confirm h2 {
	color: #b33630;
}

ui-composition::after{
	display:table;
	content:"";
	clear:both;
}

.CodeMirror {
	border: 1px solid #d8d8d8;
	min-height: 40em;
}

.flag.false {
	border: 2px solid #767676;
	color: #767676;
    font-weight: bold;
    text-transform: capitalize;
    display: block;
    width: 4em;
    padding: 2px;
    margin: -2px;
}

.flag.true {
	border: 2px solid #767676;
	background-color: #767676;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    display: block;
    width: 4em;
    padding: 2px;
    margin: -2px;
}

.capitalize-first-letter:first-letter{
	text-transform: uppercase
}

.capitalize-first-letter{
    text-transform: lowercase
}
